* {
	padding: 0px;
	margin: 0px;
	font-family: "Lucida Console", Monaco, monospace;
}

body {
	background: #dddddd;
	height: 100%;
	overflow: hidden;
}

#splash {
	position: fixed;
	top: 25%;
	bottom: 25%;
	left: 30%;
	right: 30%;
	width: 40%;
	height: 50%;
	background-color: #ffffff;
	border-style: inset;
	border: 2px solid black;
	border-radius: 5px;
}

#splash h1 {
	text-align: center;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 50px;
	text-decoration: underline;
}

#splash h1 span {
	font-size: 50px;
	background-color: #000000;
	box-shadow: -15px -15px 0px 15px #000000;
	color: #ffffff;
	text-decoration: underline;
}

/*#splash div {
	position: absolute;
	top: 70%;
	left: 50%;
	width: 150px;
	height: 40px;
	transform: translate(-50%, -50%);
}

#splash div div {
	position: absolute;
	top: 70%;
	left: 50%;
	width: 0px;
	height: 40px;
	transform: translate(-50%, -50%);
	border-bottom-style: solid;
	border-width: 2px;
	border-color: #000000;
	transition-duration: 0.4s;
}

#splash div div:hover {
	width: 150px;
}

#splash div p {
	text-align: center;
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}*/

#splash div {
	position: absolute;
	top: 70%;
	left: 50%;
	width: 100px;
	height: 40px;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0);
}

#splash div div {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 40px;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0);
	border-bottom-style: solid;
	border-width: 5px;
	border-color: #000000;
	font-size: 30px;
	transition-duration: 0.4s;
}

/*#splash div div:hover {
	width: 150px;
}*/

#splash div p {
	font-size: 20px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#versiontag {
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 15px;
	text-decoration: underline;
}

#versiontag #vt {
	background-color: #000000;
	box-shadow: -3px -3px 0px 3px #000000;
	color: #ffffff;
	text-decoration: underline;
}

.option {
	position: fixed;
	background-color: rgba(0, 0, 0, 0);
	transition-duration: 0.2s;
}

.option p {
	font-size: 15px;
}

.option:hover {
	background-color: #ffffff;
}

#text-input {
	position: fixed;
	top: 10%;
	left: -260px;
	width: 250px;
	height: 80%;
	background-color: #ffffff;
	border-style: solid;
	border-radius: 2px;
	border-width: 2px;
}

#text-input #add {
	position: absolute;
	top: 10%;
	left:50%;
	transform: translate(-50%, -50%);
	font-size: 13px;
	text-align: center;
}

#text-input #error {
	position: absolute;
	top: 95%;
	left:50%;
	transform: translate(-50%, -50%);
	font-size: 10px;
	text-align: center;
	color: #ff0000;
}

#text-input p a {
	font-size: 9px;
	text-align: center;
}

#text-input #b {
	position: absolute;
	top: 88%;
	left:50%;
	width: 80%;
	height: 10%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	border-radius: 2px;
	border-color: #000000;
	border-width: 2px;
	transition-duration: 0.2s;
}

#text-input #b p {
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	text-align: center;
}

#text-input #b:hover {
	background-color: rgba(238, 238, 238, 0.7);
}

#text-input textarea {
	position: absolute;
	top: 50%;
	left:50%;
	width: 80%;
	height: 60%;
	transform: translate(-50%, -50%);
	font-size: 10px;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	resize: none;
}

#snap {
	position: fixed;
	bottom: 10px;
	left: 10px;
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	border-radius: 2px;
	border-color: rgba(0, 0, 0, 0);
	border-width: 2px;
	transition-duration: 0.2s;
}

#snap p { 
	font-size: 15px;
}

#snap:hover {
	background-color: #ffffff;
}

/*#cah {
	position: fixed;
	bottom: 30px;
	left: 10px;
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	border-radius: 2px;
	border-color: rgba(0, 0, 0, 0);
	border-width: 2px;
	transition-duration: 0.2s;
}

#cah p { 
	font-size: 15px;
}

#cah:hover {
	background-color: #ffffff;
}*/

#cd .tile {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 10px;
	box-shadow: 0px 0px 0px 10px #ffffff;
	background-color: #ffffff;
	/*transition-duration: 0.2s;*/
}

/*#cd .tile:hover {
	background-color: #eeeeee;
	box-shadow: 0px 0px 0px 10px #eeeeee;
}*/